
.detail-div {
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 40%;
    min-width: 400px;
    height: auto;
    padding: 20px 25px;
    margin-top: 5%;
    font-family: Helvetica, sans-serif;   
}

.detail-grid {
    display: grid;
    grid-template-columns: minmax(200px, 220px) minmax(100px, auto);
    padding-bottom: 20px;
}

.btn-detail {
    margin-top: 4px;
    text-align: center;
}


.detail-img {
    min-width: 200px;
    min-height: 300px;
}

.detail-content {
    text-align: center;
}
