<div class="container detail-div">
    <div class="detail-grid">
        <div class="detail-img">
            <img src="https://image.tmdb.org/t/p/w200{{movie?.poster_path}}">
        </div>
        <div class="detail-content">
            <h3>{{movie?.title}}</h3>
            <p>{{movie?.overview}}</p>
            <div class="btn-detail">
                <input type="button" class="btn btn-outline-success" value="Add To Favorites" (click)="addMovieToProfileFavorites(profileMovie)">
            </div>
        </div>
    </div>
    <div class="btn-detail">
        <input type="button" class="btn btn-outline-dark" value="See similar movies" (click)="seeSimilarMovies(movie?.id)">
    </div>
</div>

<div class="container comment-div">
    <form (ngSubmit)="submitCommentAboutMovie(movie?.id)" (keypress.enter)="submitCommentAboutMovie(movie?.id)">
        <div class="form-group comment-text">
            <label for="comment">Add your commentary about the movie:</label>
            <textarea [(ngModel)]="comment" class="form-control" id="thoughts" rows="3" placeholder="Your thoughts on {{movie?.title}}..."></textarea>
        </div>
        <button type="button" class="btn btn-secondary btn-sm submit-rating">Post comment</button>
    </form>
</div>

