<div class="container detail-div">
    <div class="detail-grid">
        <div class="detail-img">
            <img src="https://image.tmdb.org/t/p/w200{{movie?.poster_path}}">
        </div>
        <div class="detail-content">
            <h3>{{movie?.title}}</h3>
            <p>{{movie?.overview}}</p>
            <div class="btn-detail">
                <input type="button" class="btn btn-outline-success" value="Add To Favorites" (click)="addMovieToProfileFavorites(profileMovie)">
            </div>
        </div>
    </div>
    <div class="btn-detail">
        <input type="button" class="btn btn-outline-dark" value="See similar movies" (click)="seeSimilarMovies(movie?.id)">
    </div>
</div>

<div class="container comment-div">
    <form>
        <div class="form-group comment-text">
            <label for="exampleFormControlTextarea1">Add your commentary about the movie:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">1</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">2</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option1">
            <label class="form-check-label" for="inlineRadio3">3</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option2">
            <label class="form-check-label" for="inlineRadio4">4</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option1">
            <label class="form-check-label" for="inlineRadio5">5</label>
          </div>
        <button type="button" class="btn btn-secondary btn-sm submit-rating">Post rating</button>
    </form>
</div>

