
.detail-div {
    background-color: rgba(255, 255, 255, 0.5);
    width: 40%;
    height: 55%;
    padding: 15px 20px;
    margin-top: 5%;
    font-family: Helvetica, sans-serif;   
    display: grid;
    grid-template-columns: 40% 60%;
}

h3 {
    text-align: center;
}
