<div class="collection" *ngIf="favoriteMovies.length > 0">
    <div *ngFor="let movie of favoriteMovies">
        <div class="display" *ngIf="movie.poster_path != null">
            <img src="https://image.tmdb.org/t/p/w200{{movie.poster_path}}" class="display" (click)="seeMoviesDetails(movie.id)">
            <div class="btn-div" (click)="deleteMovieFromFavorite(movie.id)">
                <div class="botao">
                    <p>remove</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container fav-empty" *ngIf="favoriteMovies.length === 0">
    <h1>There is none</h1>
    <h2>Add movies to your favorites</h2>
</div>