<form class="search-div" (ngSubmit)="searchArtist(searchForm)" (keypress.enter)="searchArtist(searchForm)" #searchForm="ngForm">
    <input type="text" [(ngModel)]="artistSearch" name="artistSearch" class="form-control" placeholder="Search artists">
</form>
<div class="collection">
    <div *ngFor="let artist of artists">
        <div class="display" *ngIf="artist.profile_path != null">
            <img src="https://image.tmdb.org/t/p/w200{{artist.profile_path}}" class="display">
        </div>
    </div>
</div>
