.form-padrao {
    text-align: center;
    margin-top: 3%;
    border-radius: 2.5%;
}

.profile-picture {
    max-width: 300px;
    min-width: 100px;
    max-height: 275px;
    min-height: 90px;
    border-radius: 2.5%;
    margin: 8% 0;
    object-fit: cover;
    padding: 2%;
    background-color: whitesmoke;
}

.profile-picture:hover {
    filter: brightness(75%);
    color: black;
}

.profile-picture:active {
    filter: brightness(50%);
}