.form-picture {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: white;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: left;
    filter: opacity(95%);
    border-radius: 2.5%;
  }
  