body {
    background-color: #BBBFCA;
}

.form-padrao {
    background-color: rgba(255, 255, 255, 0.5);
    width: 30%;
    height: 30%;
    padding: 15px 20px;
    margin-top: 10%;
    font-family: Helvetica, sans-serif;   
}

.form-titulo {
    text-align: center;
    font-family: Helvetica, sans-serif;
    margin-bottom: 20px;
}

.redirect-register {
    font-size: small;
    font-family: Helvetica, sans-serif;
    color: black;
    display: flex;
    justify-content: center;
}

.display {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px;
}

.display:hover {
    background: rgba(0, 0, 0, 0.25);
}

.collection {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.not-logged {
    text-align: center;
    letter-spacing: 0.05em;
    font-family: Helvetica, sans-serif;
}

.title-not-logged {
    margin-bottom: 25px;
}

.nav-pages {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
}

.page-link {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 9px 16px;
    margin-left: 4px;
    margin-right: 4px;
    border: 0;
}

.page-link:hover {
    background: rgba(0, 0, 0, 0.25);
}

.page-link:active {
    background: rgba(0, 0, 0, 0.60);
}