body {
    background-color: #BBBFCA;
}

.form-padrao {
    background-color: rgba(255, 255, 255, 0.5);
    width: 30%;
    height: 30%;
    padding: 15px 20px;
    margin-top: 10%;   
}

.form-titulo {
    text-align: center;
    font-family: Helvetica, sans-serif;
}

.redirect-register {
    font-size: small;
    font-family: Helvetica, sans-serif;
    color: black;
    display: flex;
    justify-content: center;
}