body {
    background-color: #BBBFCA;
}

.form-padrao {
    background-color: rgba(255, 255, 255, 0.5);
    width: 30%;
    height: 30%;
    padding: 15px 20px;
    margin-top: 10%;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.05em; 
}

.form-titulo {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
}

.redirect-register {
    font-size: small;
    font-family: Helvetica, sans-serif;
    color: black;
    display: flex;
    justify-content: center;
}

.display {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px;
}

.display:hover {
    background: rgba(0, 0, 0, 0.25);
}

.collection {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.not-logged {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.05em;
}

.title-not-logged {
    margin-bottom: 25px;
}

.nav-pages {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
}

.page-link {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 9px 16px;
    margin-left: 4px;
    margin-right: 4px;
    border: 0;
    border-radius: 5px;
}

.page-link:hover {
    background: rgba(0, 0, 0, 0.25);
}

.page-link:active {
    background: rgba(0, 0, 0, 0.60);
}

.detail-div {
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 40%;
    min-width: 400px;
    height: auto;
    padding: 20px 25px;
    margin-top: 2%;
    font-family: Helvetica, sans-serif;
    letter-spacing: 0.05em;
    border-radius: 5px;  
}

.detail-grid {
    display: grid;
    grid-template-columns: minmax(200px, 220px) minmax(100px, auto);
    padding-bottom: 20px;
}

.detail-img {
    min-width: 200px;
    min-height: 300px;
}

.detail-content {
    text-align: center;
}

.search-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.title-div {
    text-align: center;
}

.users-div {
    display: flex;
    flex-wrap: wrap;
}

.img-user {
    max-width: 120px;
    min-width: 50px;
    height: auto;
}

.user-profile {
    background-color: rgba(255, 255, 255, 0.5);
    height: auto;
    width: 50%;
    padding: 12px 12px;
    margin: 1.5% 1%;
    display: flex;
    align-items: center;
    border-radius: 5px;  
}

.user-info-div {
    margin-left: 15%;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.10em;
}

.name-user {
    font-weight: 700;
}

.active-users-div {
    background-color: rgba(255, 255, 255, 0.388);
    border-radius: 5px; 
    padding: 10px;
}