<div class="container comment-div">
    <form (ngSubmit)="submitCommentAboutMovie(movie?.id)" (keypress.enter)="submitCommentAboutMovie(movie?.id)">
        <div class="form-group comment-text">
            <label for="comment">Add your commentary about the movie:</label>
            <textarea [(ngModel)]="comment" class="form-control" id="thoughts" rows="3" placeholder="Your thoughts on {{movie?.title}}..."></textarea>
        </div>
        <button type="button" class="btn btn-secondary btn-sm submit-rating">Post comment</button>
    </form>
</div>
