<div class="container comment-div">
    <form (ngSubmit)="submitCommentAboutMovie(movie?.id)">
        <div class="form-group comment-text">
            <label for="comment">Add your commentary about the movie:</label>
            <textarea [(ngModel)]="comment" name="comment" class="form-control" id="thoughts" rows="3" placeholder="Your thoughts on {{movie?.title}}..." NOT NULL></textarea>
        </div>
        <button type="submit" class="btn btn-secondary btn-sm submit-rating">Post comment</button>
    </form>
</div>

<div class="container load-comments-div" *ngIf="loadComments === false">
    <button class="btn btn-outline-dark" (click)="loadMovieComments(movie?.id)">Load comments</button>
</div>

<div class="container users-comments" *ngIf="loadComments && moviePosts.length > 0">
    <div class="comment" *ngFor="let post of moviePosts">
        <div>
            <p>{{ post.profile?.username }}</p>
            <img>
        </div>
        <div>
            <p>{{ post.comment }}</p>
        </div>
    </div>
</div>

<div class="container load-comments-div no-post" *ngIf="loadComments && moviePosts.length === 0">
    <button class="btn btn-outline-dark">Be the first to comment...</button>
</div>


