.comment-div {
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 40%;
    min-width: 400px;
    height: auto;
    margin-top: 1%;
    padding: 8px 8px;
    font-family: Helvetica, sans-serif;
    border-radius: 5px;   
}

.comment-text {
    letter-spacing: 0.05em;   
    margin-bottom: 8px;
}

.load-comments-div {
    text-align: center;
    margin: 20px auto;
}